:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: url('resources/hw_bg_frontend.webp') center/cover no-repeat;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 50%;
    border: 1px solid #333333;
    padding: 30px 30px;
    font-size: 20px;
    background-color: #f5ee72;
    color: #333333;
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: Monaco, serif;
}

button:hover {
    border-color: #e77c85;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #e77c85;
    }

    button {
        background-color: #f9f9f9;
    }
}

.tooltip-container {
    position: relative;
}

.tooltip {
    display: none;
    background-color: #e77c85;
    color: #333333;
    padding: 7px 7px;
    border-radius: 10px;
    position: absolute;
    font-size: 15px;
    left: 75px;
    top: 60px;
    border: 1px outset #e77c85;
}

.modal-win {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal-content {
    display: flex;
    width: 350px;
    height: 150px;
    padding: 15px;
    background-color: #a3eca5;
    border: 1px solid #333333;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.modal-win-header {
    display: flex;
    color: #333333;
    font-size: 25px;
    margin-top: 15px;
}


.modal-win-body {
    display: flex;
    color: #333333;
    font-size: 18px;
    margin-bottom: 18px;
}

.modal-win-buttons {
    display: flex;
}

.modal-win-buttons button.accept {
    cursor: pointer;
    background-color: #f5e38b;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 5px;
}

.modal-win-buttons button.decline {
    cursor: pointer;
    background-color: #e77c85;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 5px;
}

.modal-win-buttons button.accept:hover {
    background-color: #ffc38e;
}

.modal-win-buttons button.decline:hover {
    background-color: #ffc38e;
}

#button-click {
    top: 250px;
    left: -500px;
}

#button-modal {
    position: relative;
    top: -150px;
    left: -350px;
}

#button-hover {
    top: -250px;
    left: 30px;
}
