:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424; /* Цвет фона */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 10px;
    border: 2px solid #646cff;
    background-color: #535bf2;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
    font-family: Monaco, serif;
    padding: 20px 30px;
    font-size: 18px;
}

button:hover {
    background-color: #646cff;
    border-color: #535bf2;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #535bf2;
    }

    button {
        background-color: #f9f9f9;
    }
}

.tooltip-container {
    position: relative;
}

.tooltip {
    display: none;
    background-color: #535bf2;
    color: #333333;
    padding: 7px 7px;
    border-radius: 10px;
    position: absolute;
    font-size: 15px;
    left: 75px;
    top: 60px;
    border: 1px outset #535bf2;
}

.tooltip-container:hover .tooltip {
    background-color: #535bf2;
    color: #ffffff;
}

.tooltip-container:active .tooltip {
    background-color: #646cff;
    color: #ffffff;
}

#button-modal,
#hoverButton,
#clickButton {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

#button-modal button,
#hoverButton button,
#clickButton button {
    border-radius: 10px;
    border: 2px solid #646cff;
    background-color: #535bf2;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
    font-family: Monaco, serif;
    padding: 20px 30px;
    font-size: 18px;
}

#button-modal button:hover,
#hoverButton button:hover,
#clickButton button:hover {
    background-color: #646cff;
    border-color: #535bf2;
}

.modal-win {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
}

.modal-content {
    display: flex;
    width: 350px;
    height: 150px;
    padding: 15px;
    background-color: #394240;
    border: 1px solid #333333;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-win-header,
.modal-win-body {
    color: #ffffff;
}

.modal-win-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 5px;
}

.modal-win-buttons button.ok,
.modal-win-buttons button.cancel {
    cursor: pointer;
    border-radius: 15px;
    padding: 15px 25px;
    margin: 5px;
}

.modal-win-buttons button.ok {
    background-color: #5cb85c;
    color: #ffffff;
    border: 1px solid #4cae4c;
}

.modal-win-buttons button.cancel {
    background-color: #d9534f;
    color: #ffffff;
    border: 1px solid #d43f3a;
}

.modal-win-buttons button.ok:hover {
    background-color: #428b42;
    border-color: #398439;
}

.modal-win-buttons button.cancel:hover {
    background-color: #c0534f;
    border-color: #b0534f;
}

